body
{
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
    font-weight: 300;
    text-align:center;
}
span {
    cursor:pointer;
    color:red;
}



.line-through {
    text-decoration: line-through;
}