* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #2980B9;  /* fallback for old browsers */
    background: linear-gradient(to right,rgb(88, 138, 88),rgb(20, 192, 143));
    
    color: white;    
}

header {
    font-size: 1.3rem;
    min-height: 15vh;
}
header,form, section {
    display: flex;
    justify-content: center;
    align-items: center;;
}

form input,
form button {
    padding: 0.8rem;
    border: none;    
    outline: none;
}   
form input {
    width: 30%;    
}

.todoList {
    margin: 0.3rem;
}

.todoItem {
    margin: 0.9rem 1.2rem 1rem 0.9rem;     
}

.todobuttonRemove,
.todobuttonCheck {
    color:white;
    padding: 0.5rem;
    background-color:#00be66;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}
.todobuttonRemove {
    background-color:#ff5353;
}

.completed span {
    text-decoration: line-through;
    color: black;
}